<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

<div class="card mx-auto" style="width: 50%;">
  <div class="card-header text-center">
    <h1>Register</h1>
  </div>
  <div class="card-body">
    <form [formGroup]="visitorForm" (ngSubmit)="onSubmit()" class="form-group">
      <div class="form-group">
        <label for="name">Name:</label>
        <input autofocus required type="text" id="name" formControlName="name" class="form-control">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input required type="email" id="email" formControlName="email" class="form-control"> 
      </div>
      <div class="form-group">
        <label for="phone">Phone:</label>
        <input required type="text" id="phone" formControlName="phone" class="form-control">
      </div>
      <div class="form-group">
        <label for="company">Company:</label>
        <input required type="text" id="company" formControlName="company" class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input required type="password" id="password" formControlName="password" class="form-control">
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input required type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control">
      </div>
      <div class="form-group">
        <label for="checkInTime">Check-In Time:</label>
        <input required type="datetime-local" id="checkInTime" formControlName="checkInTime" class="form-control">
      </div>
      <div class="form-group">
        <label for="checkOutTime">Check-Out Time:</label>
        <input  required type="datetime-local" id="checkOutTime" formControlName="checkOutTime" class="form-control">
      </div>
      <div class="form-group text-center">
        <button type="submit" [disabled]="visitorForm.invalid" class="btn btn-primary mr-2">Register</button>
        <button (click)="visitorLogin()" class="btn btn-secondary ml-2">Login</button>
      </div>
    </form>
  </div>
</div>
